@using Microsoft.AspNetCore.Identity
@using WebAppWithHighSecurity.Data
@inherits LayoutComponentBase

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@_userName (@_roleName)</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? _userName;
    private string? _roleName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            var appUser = await UserManager.GetUserAsync(user);
            if (appUser != null)
            {
                _userName = user.Identity.Name;
                var roles = await UserManager.GetRolesAsync(appUser);
                _roleName = roles.FirstOrDefault();
            }
        }
    }
}